In [10]:
import sqlite3
import json
from datetime import datetime as dt
import time

In [11]:
tf = ['2007-10','2007-11','2007-12','2008-01','2008-02',
             '2008-03','2008-04','2008-05','2008-06','2008-07',
             '2008-08','2008-09','2008-10','2008-11','2008-12',
             '2009-01','2009-02','2009-03','2009-04','2009-05',
             '2009-06','2009-07','2009-08','2009-09','2009-10',
             '2009-11','2009-12','2015-01']
sql_transaction = []

In [12]:
def format_data(data):
    data = data.replace('\n',' ').replace('\r',' ').replace('"',"'")
    return data

def create_table():
    c.execute("""CREATE TABLE IF NOT EXISTS parent_reply
    (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)""")

In [13]:
def find_parent(pid):
    try:
        sql = "SELECT comment from parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        return False

In [14]:
def find_existing_score(pid):
    try:
        sql = "SELECT score from parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        return False

def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [15]:
def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 2:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

In [16]:
def sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, 
        unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        pass
        #print('s0 insertion ',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        pass
        #print('s0 insertion',str(e))


def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        pass
        #print('s0 insertion',str(e))

In [17]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except Exception as e:
                #print(e)
                pass
        connection.commit()
        sql_transaction = []

In [18]:
if __name__ == '__main__':
    row_counter = 0
    paired_rows = 0
    connection = sqlite3.connect('db_chat.db')
    c = connection.cursor()
    create_table()
    for timeframe in tf:
        print(timeframe)
        with open('C:\\Users\\HP\\Downloads\\reddit_data\\lol\\RC_{}'.format(timeframe), buffering=1000) as f:
            for row in f:
                #if(row_counter % 10000 == 0):print(row)
                row_counter += 1
                row = json.loads(row)
                parent_id = row['parent_id']
                body = format_data(row['body'])
                created_utc = row['created_utc']
                score = row['score']
                comment_id = row['name']
                subreddit = row['subreddit']
                parent_data = find_parent (parent_id)

                if score >= 2 :
                    existing_comment_score = find_existing_score (parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score :
                            if acceptable(body):
                                #print("lol1", row_counter)
                                sql_insert_replace_comment(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)

                    else:
                        if acceptable(body):
                            if parent_data:
                                #print("lol2", row_counter)
                                sql_insert_has_parent(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                                paired_rows += 1
                            else:
                                #print("lol3", row_counter)
                                sql_insert_no_parent(comment_id, parent_id, body, subreddit, created_utc, score)
                                #print('lol')
                if row_counter % 1000000 == 0:
                    print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(dt.now())))

2007-10
2007-11
2007-12
2008-01
Total Rows Read: 1000000, Paired Rows: 13843, Time: 2018-01-11 01:11:59.320878
2008-02
2008-03
Total Rows Read: 2000000, Paired Rows: 31510, Time: 2018-01-11 01:16:30.011515
2008-04
2008-05
Total Rows Read: 3000000, Paired Rows: 48480, Time: 2018-01-11 01:21:05.014288
2008-06
2008-07
Total Rows Read: 4000000, Paired Rows: 68791, Time: 2018-01-11 01:25:45.182771
2008-08
Total Rows Read: 5000000, Paired Rows: 90873, Time: 2018-01-11 01:30:31.595420
2008-09
2008-10
Total Rows Read: 6000000, Paired Rows: 114889, Time: 2018-01-11 01:35:15.252099
2008-11
Total Rows Read: 7000000, Paired Rows: 140268, Time: 2018-01-11 01:39:53.909129
2008-12
Total Rows Read: 8000000, Paired Rows: 166689, Time: 2018-01-11 01:43:51.803302
2009-01
Total Rows Read: 9000000, Paired Rows: 194728, Time: 2018-01-11 01:47:44.475745
2009-02
Total Rows Read: 10000000, Paired Rows: 222853, Time: 2018-01-11 01:51:17.152695
2009-03
Total Rows Read: 11000000, Paired Rows: 252019, Time: 2018-01-11 01:54:51.195947
2009-04
Total Rows Read: 12000000, Paired Rows: 281853, Time: 2018-01-11 01:58:27.182624
2009-05
Total Rows Read: 13000000, Paired Rows: 311863, Time: 2018-01-11 02:02:00.631375
2009-06
Total Rows Read: 14000000, Paired Rows: 342899, Time: 2018-01-11 02:05:34.924167
2009-07
Total Rows Read: 15000000, Paired Rows: 375140, Time: 2018-01-11 02:09:09.557599
Total Rows Read: 16000000, Paired Rows: 408208, Time: 2018-01-11 02:12:42.520080
2009-08
Total Rows Read: 17000000, Paired Rows: 441495, Time: 2018-01-11 02:16:13.201516
2009-09
Total Rows Read: 18000000, Paired Rows: 475372, Time: 2018-01-11 02:19:47.692809
Total Rows Read: 19000000, Paired Rows: 509228, Time: 2018-01-11 02:23:24.741475
2009-10
Total Rows Read: 20000000, Paired Rows: 540150, Time: 2018-01-11 02:26:49.233368
Total Rows Read: 21000000, Paired Rows: 574146, Time: 2018-01-11 02:30:24.217004
Total Rows Read: 22000000, Paired Rows: 609198, Time: 2018-01-11 02:34:01.811346
2009-11
Total Rows Read: 23000000, Paired Rows: 644049, Time: 2018-01-11 02:37:41.890684
Total Rows Read: 24000000, Paired Rows: 677983, Time: 2018-01-11 02:41:18.173237
2009-12
Total Rows Read: 25000000, Paired Rows: 712475, Time: 2018-01-11 02:44:51.207548
Total Rows Read: 26000000, Paired Rows: 748188, Time: 2018-01-11 02:48:29.784032
2015-01
Total Rows Read: 27000000, Paired Rows: 784500, Time: 2018-01-11 02:52:14.177444
Total Rows Read: 28000000, Paired Rows: 834775, Time: 2018-01-11 02:56:48.835786
Total Rows Read: 29000000, Paired Rows: 888961, Time: 2018-01-11 03:01:51.486447
Total Rows Read: 30000000, Paired Rows: 945447, Time: 2018-01-11 03:07:17.393649
Total Rows Read: 31000000, Paired Rows: 1000324, Time: 2018-01-11 03:12:49.081689
Total Rows Read: 32000000, Paired Rows: 1057065, Time: 2018-01-11 03:18:17.860354
Total Rows Read: 33000000, Paired Rows: 1112286, Time: 2018-01-11 03:24:11.705495
Total Rows Read: 34000000, Paired Rows: 1168263, Time: 2018-01-11 03:30:04.633145
Total Rows Read: 35000000, Paired Rows: 1226538, Time: 2018-01-11 03:35:59.469780
Total Rows Read: 36000000, Paired Rows: 1281441, Time: 2018-01-11 03:41:47.253706
Total Rows Read: 37000000, Paired Rows: 1342421, Time: 2018-01-11 03:47:23.971603
Total Rows Read: 38000000, Paired Rows: 1397700, Time: 2018-01-11 03:52:58.380296
Total Rows Read: 39000000, Paired Rows: 1457918, Time: 2018-01-11 03:58:36.690191
Total Rows Read: 40000000, Paired Rows: 1514731, Time: 2018-01-11 04:04:14.436108
Total Rows Read: 41000000, Paired Rows: 1574650, Time: 2018-01-11 04:09:51.018259
Total Rows Read: 42000000, Paired Rows: 1631536, Time: 2018-01-11 04:15:21.038075
Total Rows Read: 43000000, Paired Rows: 1688637, Time: 2018-01-11 04:20:57.286216
Total Rows Read: 44000000, Paired Rows: 1744116, Time: 2018-01-11 04:26:18.307585
Total Rows Read: 45000000, Paired Rows: 1798939, Time: 2018-01-11 04:31:49.932864
Total Rows Read: 46000000, Paired Rows: 1855528, Time: 2018-01-11 04:37:27.992123
Total Rows Read: 47000000, Paired Rows: 1913419, Time: 2018-01-11 04:43:23.627756
Total Rows Read: 48000000, Paired Rows: 1969441, Time: 2018-01-11 04:49:15.273012
Total Rows Read: 49000000, Paired Rows: 2026025, Time: 2018-01-11 04:54:55.341220
Total Rows Read: 50000000, Paired Rows: 2081625, Time: 2018-01-11 05:00:38.268154
Total Rows Read: 51000000, Paired Rows: 2141930, Time: 2018-01-11 05:06:15.971630
Total Rows Read: 52000000, Paired Rows: 2198564, Time: 2018-01-11 05:11:52.612962
Total Rows Read: 53000000, Paired Rows: 2259496, Time: 2018-01-11 05:17:36.760387
Total Rows Read: 54000000, Paired Rows: 2314957, Time: 2018-01-11 05:23:15.774869
Total Rows Read: 55000000, Paired Rows: 2374804, Time: 2018-01-11 05:28:58.847857
Total Rows Read: 56000000, Paired Rows: 2429644, Time: 2018-01-11 05:34:30.850408
Total Rows Read: 57000000, Paired Rows: 2485109, Time: 2018-01-11 05:40:11.535830
Total Rows Read: 58000000, Paired Rows: 2537783, Time: 2018-01-11 05:45:38.558437
Total Rows Read: 59000000, Paired Rows: 2594172, Time: 2018-01-11 05:51:25.790246
Total Rows Read: 60000000, Paired Rows: 2649024, Time: 2018-01-11 05:57:11.309540
Total Rows Read: 61000000, Paired Rows: 2706263, Time: 2018-01-11 06:03:09.932741
Total Rows Read: 62000000, Paired Rows: 2764187, Time: 2018-01-11 06:08:57.097312
Total Rows Read: 63000000, Paired Rows: 2819644, Time: 2018-01-11 06:14:26.203630
Total Rows Read: 64000000, Paired Rows: 2877161, Time: 2018-01-11 06:20:11.184053
Total Rows Read: 65000000, Paired Rows: 2936675, Time: 2018-01-11 06:25:53.647096
Total Rows Read: 66000000, Paired Rows: 2992572, Time: 2018-01-11 06:31:43.946193
Total Rows Read: 67000000, Paired Rows: 3052662, Time: 2018-01-11 06:37:55.578222
Total Rows Read: 68000000, Paired Rows: 3106507, Time: 2018-01-11 06:44:05.455657
Total Rows Read: 69000000, Paired Rows: 3164002, Time: 2018-01-11 06:49:50.149961
Total Rows Read: 70000000, Paired Rows: 3220183, Time: 2018-01-11 06:55:34.963833
Total Rows Read: 71000000, Paired Rows: 3274438, Time: 2018-01-11 07:01:29.093312
Total Rows Read: 72000000, Paired Rows: 3335646, Time: 2018-01-11 07:07:27.686196
Total Rows Read: 73000000, Paired Rows: 3391218, Time: 2018-01-11 07:13:29.922005
Total Rows Read: 74000000, Paired Rows: 3451020, Time: 2018-01-11 07:21:03.006846
Total Rows Read: 75000000, Paired Rows: 3507067, Time: 2018-01-11 07:27:18.654348
Total Rows Read: 76000000, Paired Rows: 3566344, Time: 2018-01-11 07:33:30.182721
Total Rows Read: 77000000, Paired Rows: 3623494, Time: 2018-01-11 07:39:47.835930
Total Rows Read: 78000000, Paired Rows: 3683423, Time: 2018-01-11 07:46:24.035918
Total Rows Read: 79000000, Paired Rows: 3740802, Time: 2018-01-11 07:52:53.851824
Total Rows Read: 80000000, Paired Rows: 3796596, Time: 2018-01-11 07:59:17.930738